/.vscode
/.venv
/frontend/.vscode
/frontend/node_modules
/backend/app/__pycache__/*.pyc
*.pyc
/backend/dist
/backend/storage/*.db

# 环境变量文件
.env
.env.*
.env.local
.env.development
.env.production
.env.test

# 保留 .env.example
!.env.example

__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd